pypdf==5.4.0
langchain_community==0.3.21
beautifulsoup4==4.13.3
llama_index.llms.ollama
langchain_ollama
langchain_chroma
matplotlib
pygraphviz
streamlit #web UI
streamlit_agraph #Graph Framework
plotly
pymongo #Database communication framework
pytest # Testing framework
mongomock # In-memory MongoDB for testing

spacy # Natural Language Processing for NER (entity extraction from users query)
# also download the spacy model: python -m spacy download en_core_web_sm

rapidfuzz # Fuzzy matching library
